# Node.js dependencies
/node_modules/

# Build output
/dist/
/build/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Test coverage
/coverage/

# Temporary files
tmp/
temp/
*.tmp

# Local database files
*.sqlite
*.db

# Backup files
*~


